player-connection-mode=Listen
player-connection-guid=3257400057
player-connection-debug=1
player-connection-project-name=RathmourneUI
player-connection-ip=192.168.1.193
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
force-d3d11-bitblt-model=
build-guid=19256c70f6a042f0b8df11ea86b7fd00
